{{define "yield"}}
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Register now!</h3>
        </div>
        <div class="panel-body">
            {{template "registrationForm" .}}
        </div>
        <div class="panel-footer">
            <a href="/login">Already have an account?</a>
        </div>
    </div>
</div>
</div>
{{end}}

{{define "registrationForm"}}
<form action="/register" method="POST">
    {{csrfField}}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control"
            id="name" placeholder="Name" value="{{.Name}}">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" 
            id="email" placeholder="Email" value="{{.Email}}">
    </div>
    <div class="form-group">
        <label for="teamID">Team ID</label>
        <input type="text" name="teamID" class="form-control" 
            id="teamID" placeholder="01">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" 
            id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <select name="role" class="form-control" id="role">
            <option selected>Blue Team</option>
            <option>Red Team</option>
            <option>Black Team</option>
            <option>White Team</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">
        Register
    </button>
</form>
{{end}}